@import "tailwindcss";

/* ลบ margin ของ body ออกเพื่อให้เนื้อหาชิดขอบจอ */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

/* เอาสไตล์ที่บีบหน้าจอออก */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}